*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* //////////HEADER/////// */
.banner-first {
    height: 129px;
    /* width: 1440px; */
    width: 100%;
    background-color: #e0e3e2;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 30px;
    font-weight:600;
}

.bg {
    width: 100%;
    max-height: 400px;
}

.banner-first-title {
    margin-left: 35px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

body {
    height: 100vh;
}

/* /////SHOP///// */
.shop {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.item-shop-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #e0e3e2;
    height: 87px;
    width: 560px;
    margin-top: -4px;

}
    
.item-shop-info-title { 
    grid-area: 1 / 1 / 2 / 2; 
    font-size: 22px;
    font-weight: 600;
    padding-left: 34px;
    padding-top: 15px;

}
.item-shop-info-price { 
    grid-area: 2 / 1 / 3 / 2; 
    font-size: 20px;
    font-weight: 200;
    padding-left: 34px;
    padding-top: 5px;

}

.item-shop-info-btn { 
grid-area: 1 / 2 / 3 / 3;
font-size: 22px;
margin: 0px;
font-weight: 600;
background-color: black;
color: #e0e3e2;
text-align: center;
margin-top: 29px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 26px;
border: 1px solid black;
text-decoration: none;
transition: 0.7s;
}

.item-shop-info-btn:hover {
    background-color: #e0e3e2;
    color: black;
    border: 1px solid black;

}


        
/* ////GALLERY///// */
.galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1300px;
    margin: 40px auto 0;
    /* margin: 70px auto 0; */
}
.item {
    width: 360px;
    height: 445px;
    margin: 91px;
    overflow: hidden;
    
    flex-shrink: 0;
}

.item img {
    width: 100%;
    height: auto;
}
.imgg {
    width: 560px;
}
.item-info {
    background-color:#e0e3e2;
    width: 365px;
    height: 87px;
    margin: -4px;
}

.item-info-title {
    font-size: 22px;
    font-weight: 600;
    padding-left: 34px;
    padding-top: 15px;
}


.item-info-price {
    font-size: 20px;
    font-weight: 200;
    padding-left: 34px;
    padding-top: 5px;
}

/* /////////FOOTER///////// */
.footer-container {
    margin-top: 50px;
    height: 130px;
    width: 100%;
    background-color: #e0e3e2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.portfolio {
    text-decoration: none;
    color: black;
    transition: 0.7s;
    letter-spacing: 1px;
}

.portfolio:hover {
    color: white;
    letter-spacing: 0.5px;
}

.jul {
    letter-spacing: 1px;
}